.quantity {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 16px;
}

.quantity__title {
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  color: #515751;
}

.quantity__list {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 4px;
  padding: 0;
  list-style: none;
}

.quantity__item {
  width: 4px;
  height: 4px;
  margin-right: 2px;
  background-color: #000000;
  border-radius: 50%;
}

.quantity__item:last-child {
  margin-right: 0;
}
