.breadcrumbs {
  margin-bottom: 32px;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs__item {}

.breadcrumbs__link {}

.breadcrumbs__link--active {

}
